@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Satisfy&display=swap');
/*font-family: 'Crimson Text', serif;
font-family: 'Satisfy', cursive;*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
html {
    height: 100%;
}
body {
    font-family: 'Crimson Text', serif;

} 